<div class="addFavUrl" style="display: block;">
  <form class="" action="" method="post" style="display: inline-block">
    <div class="form-group">
      <input type="text" name="url" id="favUrl" placeholder="Link fanpage bạn muốn đề xuất"
             class="form-control favUrl url">
    </div>
  </form>
  <button type="" id="submitFavUrlBtn" onclick="">Thêm vào danh sách đề xuất</button>
</div>
<div class="panel-fav-urls" style="display: block;">
  <div class="heading">
    Các trang đã đề xuất
  </div>
  <div class="showFavUrl">
    <div class="favUrls"><p class="page-name">Dota 2 Quotes</p>
      <button class="remove-page-btn" data-id="1562432787368293"><i class="fa fa-minus" aria-hidden="true"></i>Xóa
      </button>
    </div>
  </div>
</div>
